<footer>
    <div class="container-footer">
        <div class="box2">
            <h2>SOBRE NOSOTROS</h2>
           <P class="loren">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolor quasi consequatur, sint pariatur enim? Totam molestiae similique, doloremque enim laudantium unde quam vero officia maxime esse, eos tenetur autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, doloribus.</P>
        </div>
    <div class="footer-redes">
        <div class="box1"><h2>SIGUENOS</h2>
        <a href="#" class="fa fa-facebook">facebook</a>
        <a href="#" class="fa fa-instagram">instagram</a>
        <a href="#" class="fa fa-twitter">twitter</a>
        <a href="#" class="fa fa-youtube">youtube</a>
    </div>

    </div>
    
</div>
    <DIV class="box3">
        <small>&copy; 2021 <b>Slee Dw</b> - Todos los Derechos Reservados.      </small>
    </DIV>
</footer>