<footer>
    <div class="footer-redes">
        <h2>SIGUENOS</h2>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>


    </div>
    <div class="box">
        <h2>SOBRE NOSOTROS</h2>
       <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, doloribus.</P>
    </div>
    <DIV class="BOX2">
        <small>&copy; 2021 <b>Slee Dw</b> - Todos los Derechos Reservados.      </small>
    </DIV>
</footer>