<header class="header-login">
    <nav class="main-header-top-bar">
        <a href="/"><img src="/img/LOGO CELL NOW.jpg" class="logo"></a>
            <div class="search">
                <div class="form">
                    <input type="text" name="nombre" placeholder="Busca lo que quieras           " class="input">
                </div>  
                <div class="menu-right-header">
                        <a href="/user/login"><i class="fas fa-user"></i></a>
                        <a href="/user/formulario-registro"><span class="header-usuraio">   username    </span></a>
                        <a href= "/trolley/carrito-de-compras"><i class="fas fa-shopping-cart"></i></a>
                        <i class="far fa-question-circle"></i> 
                    </div>      
            </div>     
    </nav>
        <div class="nombre">
            CELLNOW.COM
        </div>
 </header>