<header>
    <div class="conteiner">
    <nav class="navbar">
        <div class="logo";>
            <a href="/"><img src="/img/logo/logo_small_icon_only.png " width="90px">
                <h5>CELLNOW</h5>
        </a></div> 
            <nav class="barra-nav">
                <% if(locals.userLogged) {%> 
                <div><ul>
                    <li><a href="/views/user/userProfile"><img class= fotoperfil src="/img/avatars/<%= locals.userLogged.avatar %> " alt=""></a></div>
                    <li><a href="/views/user/userProfile"><i > <%= locals.userLogged.userName %> </i></a>
                    <li><a href="/views/products/productsForm">Vender</a>
                    <li><a href="/views/user/logout">Logout</a>
                </ul>     
                    <% if(locals.userLogged.usercategoryId === 6) {%>
                <div>
                    <a href="/views/user/usersList">Listar Usuarios </a>
                </div>   
                        <% } %> 
                </div>
                    <% } else { %> 
                    <div><ul>
                    <li><a href="/views/user/login">Vender   </a>
                    <li><a href="/views/user/login"><i>Login   </i></a>
                    <li><a href="/views/user/formularioRegistro"><i class="header-usuraio">   Registrate   </i></a>
                        <% } %> 
                    </div>      
                </nav>   
    </nav></div>
 </header>