*{ 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
 } 

body{
    font-family: "Roboto";
    background-color: #ebebeb;   
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}

.main-header{
    background-image: url(/img/muchos-celulares.jpeg);
    background-size: contain;
    background-color: #f0bf83;
    padding: 30px;
    font-size: 12px;
}

.main-header-top-bar{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    
}

.logo{
    width: 200px;
    margin-top: 20px;
}

.menu-right-header{
    font-weight: 400;
    text-align: right;
}

.form{
    flex-grow: 1;
}

header .form .input{   
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 5px;
    margin: 50px 5px;  
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

main{
    background-color:#EEF739 ;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    display: flex;
    align-self: center;
   
}

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
} 

.main-navbar-left, .main-navbar-right{
    border: #000 solid 5px;
    margin: 5px;
}

.imagen-main{
    width: 100%;
}

.right-navbar a, .left-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
   
    
}

.main-navbar-right{
    margin-right: -15px;
}