<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/99d2f24388.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
<style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');</style>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
    <header class="header-login">
       <nav class="busqueda">
            <img src="/img/LOGO CELL NOW.jpg" class="logo-login">
             <section class="search">
                         
               
                    <!-- <div class="form" action="#" method="GET"> -->
                    <!-- <section class="buscar"> -->
                        <input type="text" name="nombre" placeholder="Busca lo que quieras" class="input">
                         <!-- <div clas= "lupa"><i class="fa fa-search"></i></div>
                    </section> -->
                 <i class="fas fa-user"></i>
                <span>username</span>
                <i class="fas fa-shopping-cart"></i>
                <i class="far fa-question-circle"></i>       
              </section>     
           
           
        </nav>
         <div class="nombre">
            CELLNOW.COM
         </div>
    </header>
    <main class="main-login">
      <div class="main-left">
        <h3>Qué celu buscas?</h3>
        <ul>
            <li><a href="#">Por marca</a></li>
            <li><a href="#">Por precio</a></li>
            <li><a href="#">Por gama</a></li>
            <li><a href="#">Por año de salida</a></li>
            <li><a href="#">Por reseñas</a></li>
            <li><a href="#">Por ubicación</a></li>
        </ul>
        <h3>Ayudame a buscar!</h3>
      </div>
      <div class="main-right"> 
        <h1>BIENVENIDO</h1>
        
            <h2>NOMBRE DE USUARIO</h2>
            
            <input type="text" name="user" required minlength="8" requiere maxlength="16" placeholder="mínimo 8 carácteres" class="usuario">
           <h2>CONTRASEÑA</h2>
            <input type="password" name= "clave" placeholder="mínimo 8 carácteres alfanuméricos" required minlength="8" class="contraseña">
            <div>
            <button class="button" name= "button"><span> INGRESAR</span></button>  </div>   
       </d
       iv>

    </main>
    <footer class="footer-login">
        <H4>Trabajá con nosotros!</H4>
        <p>Copyright cellnow.com since 2021 ver legales</p>

    </footer>
    
</body>
</html>