<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/99d2f24388.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
<style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');</style>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
    <header class="header-login">
        <nav class="main-header-top-bar">
            <a href="/views/home.html"><img src="/img/LOGO CELL NOW.jpg" class="logo"></a>
                <div class="search">
                    <div class="form">
                        <input type="text" name="nombre" placeholder="Busca lo que quieras           " class="input">
                    </div>  
                    <div class="menu-right-header">
                            <a href="/views/formulario-registro.html"><i class="fas fa-user"></i></a>
                            <a href="/views/formulario-registro.html"><span class="header-usuraio">   username    </span></a>
                            <a href= "/views/carrito-de-compras.html"><i class="fas fa-shopping-cart"></i></a>
                            <i class="far fa-question-circle"></i> 
                        </div>      
                </div>     
        </nav>
            <div class="nombre">
                CELLNOW.COM
            </div>
     </header>
    <main>
      <div class="main-login"> 
        <h1 class="h1-login">BIENVENIDO</h1>
        <form action="/" method="post">
            <div class="main-div-login">
            <!-- <label for="user"> NOMBRE DE USUARIO</label> -->
            <input type="text" name="user" placeholder="nombre de usuario" required minlength="8" requiere maxlength="16" class="nombre-registro">
        </div>
        <div class="main-div-login">
            <!-- <label for="password"> CONTRASEÑA</label> -->
            <input type= "password" name="pass" placeholder="contraseña" minlength="6" class="pass-registro">
        </div>
        <div class="main-div-login">
            <button class="button" name= "button"><span> ingresar</span></button> 
        </div>
        </form>
       </div>

    </main>
    <footer>
        <H4>Trabajá con nosotros!</H4>
        <p>Copyright cellnow.com since 2021 ver legales</p>

    </footer>
    
</body>
</html>