*{ 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
 } 

body{
    font-family: "Roboto";
     height: 100%;
     background: rgb(160, 157, 157); 
       background-image: url(/img/burbujas2.jpg);
     background-size: 100%; 
     background-size: 100%;  
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}

footer{
    color: #FFF;
}

.main-header{
    background: #2596be;
    padding: 30px;
    font-size: 12px;
}

.logo{
    width: 200px;
    margin-top: 20px;
}

i, a, .header-usuraio{
text-decoration: none;
color: #FFF;
}

/* HASTA ACA ES EL BODY Y TODO LO GENERAL*/

/* DESDE ACA ES EL HEDER, HUBICACION DEL LOGO, LA BARRA DE BUSQUEDA, REGISTRO DE USUARIO, CARRITO Y ICONO DE AYUDA*/

i{
    color: white;
}

h2, h2 a, li{
    color: white;
}

.product{
    color: white;
}

.busqueda{
    display: flex;
  }

.menu-right-header{ 
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: #FFF;
}

.menu-right-header i{
    margin-left: 10px;
    font-size: 15px;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    padding: 5px;
    margin: 40px 40px;
    text-align:justify;
    width: 80%;
   
}

 h3 i{
    margin: 0 10px;
} 

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

.input{
    font-family: "Font Awesome 5 Free";
    font-weight: 900
}

.nombre{
    margin: 5px 0px 0px 10px;
    color: white;
    width: 130px;
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

/* HASTA ACA ES EL HEADER*/

/* ACA COMIENZA EL MAIN QUE CONTIENE main-navbar-left, ACTUALMENTE LOGO EN EL MEDIO Y main-navbar-right*/

.main-first{
    width: 100%;
    padding: 15px;
    font-size: 12px;
    display: flex;
    justify-content:space-evenly;   
}

.main-second{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
} 

.main-navbar-left, .main-navbar-right{  
    margin: 5px;
}

.imagen-main{
    width: 100%;
}

.right-navbar a, .left-navbar a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;    
}

.main-navbar-right{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 254px;
    text-align: end;
}

main ul li a{
    color: white; 
    text-decoration: none;
}

/* HASTA ACA ES EL PRIMER MAIN*/

/* ACA COMIENZA EL SEGUNDO MAIN QUE CONTIENE LOS PRODUCTOS DESTACADOS*/

.no-disponible{
    width: 210px;
}

/* .main-first-comprar{
       width: 100%;
    padding: 15px;
    font-size: 12px;
    display: flex;
    justify-content:space-evenly;  
}  */

.main-second-div{
    margin: 0 10px;
}

/* ACA FINALIZA EL SEGUNDO MAIN*/

/* ACA COMIENZA EL HTML DE CARRITO DE COMPRAS*/

.carrito-prudctos{
    margin: 10px;
}

.no-disponible-carrito{
    width: 110px;
    padding: 5px;
    flex-grow: 0.2;
} 

 .carrito-compras-li{
    box-shadow: 10px 0px 10px rgb(186, 186, 196);
    display:flex;
    align-content: space-around;
    margin-bottom: 10px;
} 

.descripcion-carrito-compras{
    flex-grow: 0.7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
} 

.boton-compra-carrito{
    background-color: red;
    border:none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 20px;
    width: 50%;
    margin-left: 45%;
}  

/* ACA TERMINA EL HTML CARRITO DE COMPRAS*/

/* ACA COMIENZA EL HTML DE COMPRAR*/



.main-comprar{
    width: 100%; 
}

.texto-comprar{
    color: #FFF;
}

.article-comprar{
    
    margin: 10px;
    display: flex; 
    flex-wrap: wrap;
} 

.imagen-comprar{
    width: 100%;  
  
} 

.producto-comprar{
    align-items: center;
}

.descripcion-producto-comprar{
    width: 100%;
    
} 
.button-comprar{
    align-items: end;
}

/* article{
    border: solid red 5px;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    padding: 100px;
    justify-content: space-between;
} */


/*ACA COMIENZA EL HTML DEL FORMULARIO DE REGISTRO*/

label{
    color: #FFF;
}
.register{
    display: flex;
    flex-direction: column;
}

.fecha-registro{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.fecha-registro label, .text-color{
    color: #FFF;
    margin-left: 15px;
}

.nombre-registro, .pass-registro{
    width: 90%;
    padding: 8px;
    margin: 15px;
    border-radius: 10px; 
    box-shadow: 10px 0px 10px rgb(127, 127, 129);
}

.interests, .imagen-perfil{
    margin-left: 15px;
}

.imagen-perfil{
    width: 100%;
}

.button{
    font-family: "Roboto";
    color: white;
    border: none;
    background: green;
    margin-top: 15px;
    font-size: 20px;
    width: 300px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

button::after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid rgb(39, 182, 39);
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
}

button:hover::after{
    left: 0;
}
.button span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

/* HASTA ACA ES EL HTML DEL FORMULARIO DE REGISTRO*/

/* ACA COMIENZA EL HTML DEL LOGIN*/

.h1-login{
    color:#FFF
}

.main-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-login form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
}

.main-div-login{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


/* ACA VAN LAS @MEDIA*/

@media(max-width: 632px){

    .carrito-compras-li{
       flex-wrap: wrap;
       flex-direction: column;
       align-content: flex-start;
       align-items: flex-start;
    }

    .desclipcion-carrito-compras{
        display: flex;
        flex-direction: column;
    }

    .menu-right-header h3 i{
       display: none;
    }

    .menu-right-header i{
        margin: 0 40px;
        font-size: 40px;
    }

    .main-header-top-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }

    .input{
        display: block;
        margin-top: 15px;
    }

    .header-usuraio{
        display: none;
    }

    .menu-right-header{
        display: flex;
        justify-content: space-around;
        margin: 15px 0;
    }
    
    .nombre{
        text-align: center;
    }
} 

@media(max-width: 450px){
    
    .main-second{
        justify-content: center;
    }

    .article-comprar{
        display: flex;
        flex-direction: column;
    }

    div .producto-comprar{
        border: black solid 5px;
    }
}

@media(max-width: 632px){

    .main-first{
        flex-wrap: wrap;
        justify-content: start;
    }

    /* .main-first-comprar{
        flex-wrap: wrap;
        justify-content: start;
    } */

    .main-navbar-right li{
        display: none;
    }
    .right-navbar{
        align-self: center;
        
    }
}

@media(min-width:632px){

    .main-header-top-bar{
        
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-between;
        align-items: center;
        align-content: center;
        
    }

    .input{
        
        flex-grow: 0.3;
    }

    .menu-right-header{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .search{
        display: flex;
        flex-wrap: wrap;
      
        
    }


}

@media(min-width: 768px){

    .main-header-top-bar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    div .menu-right-header i{
        size: 5px;           
    }  
}
