*{ 
    margin: 0px; 
    padding:0px; 
    box-sizing: border-box; 
     } 
 .recordar{
     margin: auto;
 }
 .fa-shopping-bag:before  {
    color: white;
    content: "\f290";
}

 .fa.fa-pencil-square:before {
     color: white;
    content: "\f14b";
}
 .fa.fa-sign-in:before {
     color: white;
    content: "\f2f6";
}
 .fa.fa-trash-o:before {
    color: white;
    content: "\f2ed";
}
.fa.fa-share-square-o:before {
color: white;
    content: "\f14d";
}
 .button-enviar{
    background: green;
    font-family: "Roboto";
    color: white;
    border: none;
    margin-top: 15px;
    font-size: 20px;
    width: 300px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    align-self: center;
 }
 .button-editar{
    background: orangered;
    font-family: "Roboto";
    color: white;
    border: none;
   
    margin-top: 15px;
    font-size: 20px;
    width: 300px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    align-self: center;
 }
 .button-borrar{
     background: rgb(233, 10, 10);
     font-family: "Roboto";
     color: white;
     border: none;
    
     margin-top: 15px;
     font-size: 20px;
     width: 300px;
     margin: 15px;
     cursor: pointer;
     border-radius: 5px;
     position: relative;
     overflow: hidden;
     align-self: center;
 }
 footer{
     width: 100%;
     padding: 50px, 0;
 }
 .container-footer{
     width: 100%;
     display: flex;
     /* flex-wrap: wrap; */
     justify-content:space-evenly;
     margin: auto;
     margin-top: 100px;
         background: rgb(22, 22, 22);
 }
 
 .box1{
     /* padding: 20px; */
     margin: 10px;
     display: flex;
     flex-direction: column;
 }
.footer-redes{
     border: 5px, solid, red
 }
 .box2{
     margin: 5px;
 }
 .box2.p{
     display: flex;
     flex-direction: column;
 }
 
 div.selec{
         display: flex;
     justify-content: center;
     justify-items: center;
     margin-top: 200px;
     width: inherit;
     }
    
 
body{
    font-family: "Roboto";
     height: 100%;
     background:grey (160, 157, 157); 
       /* background-image: url(/img/burbujas2.jpg);
     background-size: 100%; 
     background-size: 100%;   */
     }
/* aca esta el banner */
.banner img{
    margin-top: 100px;
    width: 100%;

}
p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}

footer{
    color:grey;
}

.main-header{
    background: #2596be;
    padding: 30px;
    font-size: 12px;
}

.logo{
    width: 100px;
    margin-top: 10px;
}

i, a, .header-usuraio{
text-decoration: none;
color: gray;
}

/* HASTA ACA ES EL BODY Y TODO LO GENERAL*/

/* DESDE ACA ES EL HEDER, HUBICACION DEL LOGO, LA BARRA DE BUSQUEDA, REGISTRO DE USUARIO, CARRITO Y ICONO DE AYUDA*/

i{
    color: gray;
}

h2, h2 a, li{
    color: gray;
}

.product{
    color: grey;
    display: flex;
    justify-content: space-around;
    letter-spacing: 5px;
    border-top: black solid 1px;
}

.busqueda{
    display: flex;
  }

.menu-right-header{ 
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: grey;
}

.menu-right-header i{
    margin-left: 10px;
    font-size: 15px;
}

header .form .input{
    background-color: white;
    border: 1px solid #000;
    color: #666;
    padding: 5px;
    margin: 40px 40px;
    text-align:justify;
    width: 80%;
   
}

 h3 i{
    margin: 0 10px;
} 

header .form .submit{
    background-color: grey;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

.input{
    font-family: "Font Awesome 5 Free";
    font-weight: 900
}

.nombre{
    margin: 5px 0px 0px 10px;
    color: grey;
    width: 130px;
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

/* HASTA ACA ES EL HEADER*/

/* ACA COMIENZA EL MAIN QUE CONTIENE main-navbar-left, ACTUALMENTE LOGO EN EL MEDIO Y main-navbar-right*/

.main-first{
    width: 100%;
    padding: 15px;
    font-size: 12px;
    display: flex;
    justify-content:space-evenly;   
}

.main-second{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    justify-content: space-around;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
} 

.main-navbar-left, .main-navbar-right{  
    margin: 5px;
}

.imagen-main{
    width: 100%;
}

.right-navbar a, .left-navbar a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;    
}

.main-navbar-right{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 254px;
    text-align: end;
}

main ul li a{
    color: white; 
    text-decoration: none;
}

/* 

.products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
  }
  
  .product-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
  }
  
  .product-box a {
    display: block;
  }
  
  .product-box_image {
    border-bottom: 1px solid var(--light-gray);
  }
  
  .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product-box_data h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
  }
  
  .product-box_data span {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--green);
    margin: 0 0 0 10px;
  }
  
  .product-box_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  
  .product-box_data i {
    color: var(--green);
    font-size: 1.8em;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
  }
  
  .product-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .product-box:hover p {
    height: 40px;
    margin-top: 15px;
  }
  
  .product-box:hover i {
    transform: rotate(360deg);
    box-shadow: 0 0 5px var(--green);
  }
  
 */




/* HASTA ACA ES EL PRIMER MAIN*/

/* ACA COMIENZA EL SEGUNDO MAIN QUE CONTIENE LOS PRODUCTOS DESTACADOS*/

.no-disponible{
    width: 210px;
}

/* .main-first-comprar{
       width: 100%;
    padding: 15px;
    font-size: 12px;
    display: flex;
    justify-content:space-evenly;  
}  */

.main-second-div{
    margin: 0 10px;
}

/* ACA FINALIZA EL SEGUNDO MAIN*/

/* ACA COMIENZA EL HTML DE CARRITO DE COMPRAS*/

.carrito-prudctos{
    margin: 10px;
}

.no-disponible-carrito{
    width: 110px;
    padding: 5px;
    flex-grow: 0.2;
} 

 .carrito-compras-li{
    box-shadow: 10px 0px 10px rgb(186, 186, 196);
    display:flex;
    align-content: space-around;
    margin-bottom: 10px;
} 

.descripcion-carrito-compras{
    flex-grow: 0.7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
} 

.boton-compra-carrito{
    background-color: darkblue;
    border:none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 20px;
    width: 50%;
    margin-left: 45%;
}  

/* ACA TERMINA EL HTML CARRITO DE COMPRAS*/

/* ACA COMIENZA EL HTML DE COMPRAR*/



.main-comprar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
    padding: 5px;
    border-top: black solid 1px;
    flex-wrap: nowrap;
    padding: 20px;
    padding: 5%;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.texto-comprar{
    color:black;
}

.article-comprar{
    margin: 10px;
    display: flex; 
    
} 

.imagen-comprar{
    width: 150%;
    display: block;
    justify-self: center;
    padding-left: 100px ;
    padding-top: 50% ;  
} 

.producto-comprar{
    align-items: center;
}

.descripcion-producto-comprar{
    text-align: center;
    padding: 0 -15px;
    width: 100%;
    padding-left: 150px;
} 
.button-comprar{
    align-items: end;
}

.main-div-login{
    margin-top: 20px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

/* article{
    border: solid red 5px;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    padding: 100px;
    justify-content: space-between;
} */


/*ACA COMIENZA EL HTML DEL FORMULARIO DE REGISTRO*/

label{
    color: #FFF;
}
.register{
   margin: 30px;
    display: flex;
    flex-direction: column;
}

.fecha-registro{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.fecha-registro label, .text-color{
    color: black;
    margin-left: 15px;
}

.nombre-registro, .pass-registro{
    width: 75%;
    padding: 8px;
    margin: 15px;
    border-radius: 10px; 
    letter-spacing: 5px;
    box-shadow: 10px 0px 10px rgb(127, 127, 129);
}

.interests, .imagen-perfil{
    margin-left: 15px;
}

.imagen-perfil{
    width: 100%;
}

.button{
    font-family: "Roboto";
    color: white;
    border: none;
    background: darkblue;
    margin-top: 15px;
    font-size: 20px;
    width: 300px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    align-self: center;
}

button::after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid green (39, 182, 39);
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
}

button:hover::after{
    left: 0;
}
.button span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
.componente-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* HASTA ACA ES EL HTML DEL FORMULARIO DE REGISTRO*/

/* ACA COMIENZA EL HTML DEL LOGIN*/

.h1-login{
    color:gray;
    letter-spacing: 8px;
}

.main-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    opacity: 70%;
}
.main-login form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    width: 100%;
    background-color: gainsboro;
    border-radius: 20px;
}

.main-div-login{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.caracteristicas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
}


/* ACA VAN LAS @MEDIA*/

@media(max-width: 632px){
    .header-login{
        position: none;
    }

    .carrito-compras-li{
       flex-wrap: wrap;
       flex-direction: column;
       align-content: flex-start;
       align-items: flex-start;
    }

    .desclipcion-carrito-compras{
        display: flex;
        flex-direction: column;
    }

    .menu-right-header h3 i{
       display: none;
    }

    .menu-right-header i{
        margin: 0 40px;
        font-size: 40px;
    }

    .main-header-top-bar{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        align-content: center;
    }

    .input{
        display: block;
        margin-top: 15px;
    }

    .header-usuraio{
        display: none;
    }

    .menu-right-header{
        display: flex;
        justify-content: space-around;
        margin: 15px 0;
    }
    
    .nombre{
        text-align: center;
    }
} 

@media(max-width: 450px){
    
    .main-second{
        justify-content: center;
    }

    .article-comprar{
        display: flex;
        flex-direction: column;
    }

    div .producto-comprar{
        border: black solid 5px;
    }
}

@media(max-width: 632px){
   .box2{
       display: none;
   }

    .main-first{
        flex-wrap: wrap;
        justify-content: start;
    }

    /* .main-first-comprar{
        flex-wrap: wrap;
        justify-content: start;
    } */

    .main-navbar-right li{
        display: none;
    }
    .right-navbar{
        align-self: center;
        
    }
}

@media(min-width:632px){
  
    .main-header-top-bar{
        
        display: flex;
        align-items: center;
        align-content: center;
        height: 30px;
        padding: 15px;
        flex-direction: row;
        justify-content: space-between;
    }

    .input{
        
        flex-grow: 0.3;
    }

    .menu-right-header{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .search{
        display: flex;
        flex-wrap: wrap;
      
        
    }


}

@media(min-width: 768px){
    .main-comprar{
        margin-top: 100px;
    }
    .main-login{
        margin-top: 100px}
    .register{
        margin-top:100px
    }
    .banner img{
        margin-top: 100px;}
    .main-first-carrito{
        margin-top: 100px;
    }
    .header-login{
    
        width: 100%;
        background: white;
        height: 100px;
        position: fixed;
        /* top: 10px;} */

    .main-header-top-bar{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
    }

    div .menu-right-header i{
        size: 5px;           
    }  
}
