*{ 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
 } 

body{
    font-family: "Roboto";
    background-color: #ebebeb; 
    width: 100%;  
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}

.main-header{
    background: #2596be;
    padding: 30px;
    font-size: 12px;
}

.logo{
    width: 200px;
    margin-top: 20px;
}

  i, a{
text-decoration: none;
    color: black;
}

.menu-right-header{
    
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.menu-right-header i{
    margin-left: 10px;
    font-size: 40px;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 100%;
    padding: 10px;
    margin: 40px 0;  
}

h3 i{
    margin: 0 10px;
}

.form{
    flex-grow: 0.6;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

.main-first{
    width: 100%;
    padding: 15px;
    font-size: 12px;
    display: flex;
    justify-content:space-evenly;   
}

.main-first-second{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
} 

.main-navbar-left, .main-navbar-right{  
    margin: 5px;
}

.imagen-main{
    width: 100%;
}

.right-navbar a, .left-navbar a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;    
}

.main-navbar-right{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 254px;
    text-align: end;
}

.main-first-comprar{
    width: 100%;
    padding: 15px;
    font-size: 12px;
    display: flex;   
}

.boton-comprar{
    background-color: #39b54a;
    border:none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 15px;
}

.article-comprar{
    border: solid red 5px;
    display: flex;
    flex-wrap: nowrap;
}

nav  div {
    border:green solid 5px;
    margin: 0 15px;
}

.description{
    border: turquoise solid 10px;
}

article{
    border: solid red 5px;
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    padding: 100px;
    justify-content: space-between;
}

main div{
    margin-right: 15px;
}

.no-disponible{
    width: 210px;
}

.carrito-prudctos{

    
}

.no-disponible-carrito{
    width: 110px;
    flex-grow: 0.3;
}

.carrito-compras-li{
    box-shadow: 0px 0px 10px rgb(186, 186, 196);
    width: 800px;
    display:flex;
   
    
    
    margin-bottom: 10px;
}
.desclipcion-carrito-compras{
    flex-grow: 0.7;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.boton-compra-carrito{
    background-color: red;
    border:none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 20px;
    width: 50%;
    margin-left: 45%;
}

@media(max-width: 366px){

    .carrito-compras-li{
       
       flex-wrap: wrap;
       flex-direction: column;
       align-content: flex-start;
       align-items: flex-start;
    }

    .desclipcion-carrito-compras{
        display: flex;
        flex-direction: column;
    }

    
   
    .menu-right-header h3 i{
       display: none;
    }

    .menu-right-header i{
        margin: 0 40px;
        font-size: 40px;
    }

    .main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    }
} 

@media(max-width: 450px){
    .main-first-second{
        justify-content: center;
    }
}

@media(max-width: 632px){

    .main-first{
        flex-wrap: wrap;
        justify-content: start;
    }
    .main-navbar-right{
        display: none;
    }
}



@media(min-width: 768px){

    .main-header-top-bar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        }

        div .menu-right-header i{
            size: 5px;           
        }
    
    
}
