<%- include('../partials/head')%>
<body>
   
    <%- include('../partials/header')%>
<main class="main-not-found">
    <img class= "not-found" src="/img/404-error-page-not-found.webp" alt="">
</main>

</body>
</html>