<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
        
    <main class = "register">
        <h3 class="text-color">Registrate!</h3>
        <form action= "/user/formularioRegistro" method="POST" enctype="multipart/form-data" class= "registerTotal">
            <div>
                <input type= "text" name="name" placeholder= "Nombre" maxlength="10" id="first_name" class="nombre-registro">
                <input type= "text" name="name" placeholder= "Apellido"  maxlength="10" id="last_name" class="nombre-registro">
                <input type= "email" name="name" placeholder= "Email"  maxlength="10" id="email" class="nombre-registro">
                <input type="text" name="user"  placeholder= "Nombre de usuario" id="nombre_usuario" class="nombre-registro">
                 <br>
                <br>
            
           
        <h4 class="text-color imagen-perfil">Elegí tu foto de perfil</h4>
        <input type= "file" name="avatar" id="image" class="imagen-perfil">
            <br>
            <br>
        <input type= "password" name="pass" placeholder="Elegí tu contraseña" minlength="6" id="password" class="pass-registro">
        <input type= "password" name="pass_confirm" placeholder="Confirma tu contraseña" id="password" class="pass-registro">
            <br>
            <br>
        <div>
            <button class="button-enviar" name= "button"><span><i class="fa fa-share-square-o" aria-hidden="true"></i> ENVIAR</span></button> 
            <button class="button-borrar" name= "button"><span><i class="fa fa-trash-o" aria-hidden="true"></i> BORRAR</span></button>
        </div> 
            <br>
            <br>
        </form>
    </main>
    <%- include ('../partials/footer')%>
    
</body>
</html>