<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>


        <main class="login">
            <div class="login-box">
                <img class="avatar" src="/img/logo/logo_small_icon_only.jpg" alt="">

                <h1>BIENVENIDO</h1>
                <form action="/" method="post">

                   <label for="">Nombre de Usuario</label>
                    <input class="usu" type="text" name="user" placeholder="Usuario" required minlength="8" requiere
                        maxlength="16">
                        <label for="">Contrase単a</label>
                    <input class="pas" type="password" name="pass" placeholder="Contrase単a" minlength="6">


                    
                    <label class="reco" for="recordar">Recordar Usuario</label>
                    <input type="checkbox" name="recordar" value="g" id="g">

                    <a href="/"><button class="button-login" name="button"><i class="fa fa-sign-in" aria-hidden="true"></i>
                            INGRESAR</span></button></a>


                    <a class="href" href="#">多Olvidaste tu contrase単a?</a>
                    <a class="href" href="/views/users/formularioRegistro.ejs">Registrate como cliente</a>

            </div>
            </form>
            </div>
        </main>
    </body>

</html>