<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>


        <main class="login">
            <div class="login-box">
                <a href="/"><img class="avatar" src="/img/logo/logo_small_icon_only.jpg" alt=""></a>

                <h1>BIENVENIDO</h1>
                <form action="/user/login" method="POST">

                   <!-- <label for="">Email</label> -->
                    <input class="usu" type="text" name="email" placeholder="Email" >
                        <%if(locals.errors && errors.email) { %>
                            <p class="errorEpress"><%= errors.email.msg %></p>
                        <% } %>  
                        <!-- <label for="">Contrase単a</label> -->
                    <input class="pas" type="password" name="password" placeholder="Contrase単a" >
                    <%if(locals.errors && errors.pass) { %>
                        <p class="errorEpress"><%= errors.pass.msg %></p>
                    <% } %> 
                    
                    <label class="reco" for="recordar">Recordar Usuario</label>
                    <input type="checkbox" name="remember">

                    <button type="submit" class="button-login" name="button"><i class="fa fa-sign-in" aria-hidden="true"></i>
                    <span>INGRESAR</span></button>

                    <!-- <a class="href" href="#">多Olvidaste tu contrase単a?</a> -->
                    <a class="href" href="/user/formularioRegistro">Registrate</a>

            </div>
            </form>
            </div>
        </main>
    </body>

</html>