<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <div class="selec">
        <a href="/products/productsForm"><button class="button" name= "button"><span> registrate para vender</span></button></a> 
        <br>
        <br>
        <a href="/user/formulario-registro"><button class="button" name= "button"><span> registrate para comprar</span></button></a>
    </div> 


</body>
</html>

