<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <div>
        <button class="button" name= "button"><span> registrate para vender</span></button> 
        <br>
        <br>
        <a href="/user/formulario-registro"></a><button class="button" name= "button"><span> registrate para comprar</span></button></a>
    </div> 


</body>
</html>