<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/99d2f24388.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>mas que solo celulares</title>
</head>
<body>
    <header class="main-header">
        <img src="/img/LOGO CELL NOW.jpg" class="logo" alt="imagen">
        
        <div class="form" action="#" method="GET">
            <div class="input">Busca lo que quieras </div>
        </div> 

        <div class="copy-header">
            <div><i class="fas fa-user">Usuario</i></div>
            <div><i class="fas fa-shopping-cart"></i></div>
            <div><i class="fas fa-question-circle"></i></div>
        </div>
    </header>

    <main>
        <section>
        <div class="main-navbar">
            <ul class="left-navbar">
                <h2>¿ que celular estas buscando?</h2>
                <li><a href="#">por marca</a></li> 
                <li><a href="#">por precio</a></li> 
                <li><a href="#">por gama</a></li> 
                <li><a href="#">por año de salida</a></li> 
                <li><a href="#">por reseña</a></li>
                <li><a href="#">por ubicacion</a></li>
            </ul>
            <ul class="right-navbar">
                <h2>mi cuenta</h2>
                <li><a href="#">ultimos vistos por mi</a></li> 
                <li><a href="#">mas vistos por mi</a></li> 

                <li><a href="#">mis favoritos </a></li>
                <li><a href="#">mis reseñas </a></li>


                <li><a href="#">ayudanos a mejorar </a></li>
                <li><a href="#">pociones de usuario </a></li>
            </ul>
        </div>
        </section>





    </main>
</body>
</html>