<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/99d2f24388.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>mas que solo celulares</title>
</head>
<body>
    <header class="main-header">
        <img src="/img/LOGO CELL NOW.jpg" class="logo" alt="imagen">

        <h2 class="copy-header">
            <i class="fas fa-user"></i>
            Usuario
        </h2>
        
        <div class="form" action="#" method="GET">
            <div class="input">Busca lo que quieras </div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>

            

        </div>

    </header>
</body>
</html>