<html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/99d2f24388.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/style.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
<style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');</style>

<title>mas que solo celulares</title>
</head>
<body>

    <%- include('../partials/header')%>
    
 <main class="main-first-carrito">
    <nav class="main-navbar-left">
            <ul class="left-navbar">
            <h2>¿ que celular estas buscando?</h2>
            <li><a href="#">por marca</a></li> 
            <li><a href="#">por precio</a></li> 
            <li><a href="#">por gama</a></li> 
            <li><a href="#">por año de salida</a></li> 
            <li><a href="#">por reseña</a></li>
            <li><a href="#">por ubicacion</a></li>
        </ul>
    </nav>
    <div class="carrito-prudctos" >
        <ul class="descripcion-compra"> 
           <li class="carrito-compras-li"> 
               <img src="/img/imagen no disponible.png" class="no-disponible-carrito">
                <ul class="descripcion-carrito-compras">
                    <li>Marca</li>
                    <li>Modelo</li>
                    <li>Precio</li>
                    <li>Cantidad</li>
                    <li>Medio de Pago</li>
                    <li>Cuotas</li>
                </ul>
            </li>
            <li class="carrito-compras-li"> <img src="/img/imagen no disponible.png" class="no-disponible-carrito">
                <ul class="descripcion-carrito-compras">
                    <li>Marca</li>
                    <li>Modelo</li>
                    <li>Precio</li>
                    <li>Cantidad</li>
                    <li>Medio de Pago</li>
                    <li>Cuotas</li>
                </ul>
            </li>
            <li class="carrito-compras-li"> <img src="/img/imagen no disponible.png" class="no-disponible-carrito">
                <ul class="descripcion-carrito-compras">
                    <li>Marca</li>
                    <li>Modelo</li>
                    <li>Precio</li>
                    <li>Cantidad</li>
                    <li>Medio de Pago</li>
                    <li>Cuotas</li>
                </ul>
            </li>
            <li class="carrito-compras-li"> <img src="/img/imagen no disponible.png" class="no-disponible-carrito">
                <ul class="descripcion-carrito-compras">
                    <li>Marca</li>
                    <li>Modelo</li>
                    <li>Precio</li>
                    <li>Cantidad</li>
                    <li>Medio de Pago</li>
                    <li>Cuotas</li>
                </ul>
            </li>
        </ul>
    </div>

</main> 

<button type="submit"class="boton-compra-carrito">FINALIZAR COMPRA</button>
     
</body>
<footer>
    <section class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>

</footer>
</html>