<html>
    <%- include('../partials/head')%>
<body>

    <%- include('../partials/header')%>
    
 <main class="main-first-carrito">
    <div class="carrito-prudctos" >
        <ul class="descripcion-compra"> 
           <li class="carrito-compras-li"> 
               <img src="/img/iphone/IPHONE 8/iPhone 8_Black_Back_800.png" class="no-disponible-carrito">
                <ul class="descripcion-carrito-compras">
                    <li>Marca</li>
                    <li>Modelo</li>
                    <li>Precio</li>
                    <li>Cantidad</li>
                    <li>Medio de Pago</li>
                    <li>Cuotas</li>
                </ul>
            </li>
            <li class="carrito-compras-li"> <img src="/img/lg/LG G5/5532553220f5bbf3-2e59-4dc9-9b7a-000abbca0655.jpg" class="no-disponible-carrito">
                <ul class="descripcion-carrito-compras">
                    <li>Marca</li>
                    <li>Modelo</li>
                    <li>Precio</li>
                    <li>Cantidad</li>
                    <li>Medio de Pago</li>
                    <li>Cuotas</li>
                </ul>
            </li>
            <li class="carrito-compras-li"> <img src="/img/motorola/MOTOROLA MOTO EDGE/Moto EDGE_Black_Back_800.png" class="no-disponible-carrito">
                <ul class="descripcion-carrito-compras">
                    <li>Marca</li>
                    <li>Modelo</li>
                    <li>Precio</li>
                    <li>Cantidad</li>
                    <li>Medio de Pago</li>
                    <li>Cuotas</li>
                </ul>
            </li>
            <li class="carrito-compras-li"> <img src="/img/samsung/SAMSUNG GALAXY S10E/S10e_Black_Front_800.png" class="no-disponible-carrito">
                <ul class="descripcion-carrito-compras">
                    <li>Marca</li>
                    <li>Modelo</li>
                    <li>Precio</li>
                    <li>Cantidad</li>
                    <li>Medio de Pago</li>
                    <li>Cuotas</li>
                </ul>
            </li>
        </ul>
    </div>

</main> 

<button type="submit"class="button-enviar">FINALIZAR COMPRA</button>
     
</body>
<%- include ('../partials/footer')%>
</html>