<!DOCTYPE html>
<html lang="en">
<html>
    <%- include('../partials/head')%>
<body>

    <%- include('../partials/header')%>
     
 <h2> ¿Estás seguro que deseas comprar el producto? </h2>
 <br>
 <h3> <h3>
        
    <div>
       <a href="/products/productoVendido"> <button type="submit" class="button-enviar" name= "button" ><span><i class="fas fa-cash-register"aria-hidden="true"></i> ¡SI, ESTOY SEGURO!</span></button> 
    </div> 

</body>
<%- include ('../partials/footer')%>
</html>