<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
    <body>
    
        <%- include('../partials/header')%>
    
        
            <div class="text-color">

                <label for="nombre" class="text-color"> Marca   </label>
                <input type="nombre" name="marca" id="marca" >
                <br>
                <br>
                <label for="nombre" class="text-color"> modelo  </label>
                <input type="nombre" name="modelo" id="modelo" >
                <br>
                <br>
                <label for="nombre" class="text-color">Descripcion</label>             
                <input type="nombre" name="descripcion" id="nombre" placeholder="Ingresa Descripcion">
                <br>
                <br>   
                
                <div class="interests"> 
                    <div>
                        <input type= "checkbox" name= "interests" value="a" id="a">
                        <label for= "a" class="text-color">exelente estado</label>
                    </div>
                    <div>
                        <input type= "checkbox" name= "interests" value="b" id="b">
                        <label for= "b" class="text-color">muy buen estado</label>
                    </div>
                    <div>
                        <input type= "checkbox" name= "interests" value="c" id="c">
                        <label for= "c" class="text-color">buen estado</label>
                    </div>
                    <div>
                        <input type= "checkbox" name= "interests" value="d" id="d">
                        <label for= "d" class="text-color">roto pero funcionando</label>
                    </div>
                    <div>
                        <input type= "checkbox" name= "interests" value="e" id="e">
                        <label for= "e" class="text-color">roto sin funcionar</label>
                    </div>
                    
                    <br>
                    <br>
                <h4 class="text-color imagen-perfil">agrega una imagen del producto</h4>
                <input type= "file" name="avatar" class="imagen-producto">
                <br>
                <br>
                <h4 class="text-color imagen-perfil">agrega una imagen del producto</h4>
                <input type= "file" name="avatar" class="imagen-producto">
                <br>
                <br>
                <h4 class="text-color imagen-perfil">agrega una imagen del producto</h4>
                <input type= "file" name="avatar" class="imagen-producto">
                <br>
                <br>

                </div>
    
            </div>  

            <br>
            <br>
        <div>
            <button class="button" name= "button"><span> ENVIAR</span></button> 
            <button class="button" name= "button"><span> BORRAR</span></button>
        </div> 
            <br>
            <br>
        </form>




</body>
</html>