<!DOCTYPE html>
<html lang="en">
<html>
    <%- include('../partials/head')%>
<body>

    <%- include('../partials/header')%>
  <main class="productoVendido">     <% if(locals.isLogged) {%> 
    <h2 class="H2Felicitaciones"> ¡Felicitaciones,  <%= userLogged.firstName %>! </h2>
    <br>



    <br>
    <h2> Adquiriste el producto <h2>
       <% } else { %> 

        <h1>¡Felicitaciones, por adquirir tu nuevo telefono</h1>
        <h2>no olvides registrarte para poder cordinar el envio!!!</h2>

         <% } %> 

         <img class="graciasimg" src="/img/Gracias.jpg" alt="" width="300" >

       <div class=>
          <a href="/"> <button type="submit" class="button-enviar" name= "button" ><span><i class="fas fa-shopping-cart"aria-hidden="true"></i> Volver al inicio</span></button> 
       </div> 
   

      </main>  
</body>
<%- include ('../partials/footer')%>
</html>